.Header form {
  margin: 0;
  padding: 20px 10px;
  width: 500px;
}
.Header .form-control {
  margin: 0 4px;
}
.Header .search-button,
.btn {
  color: #ffffff;
  background-color: #0394ad;
  border: none;
  transition: all 100ms ease-in-out;
  height: 38px;
}
.Header .search-button:hover,
.btn:hover {
  background-color: #0393ada8;
}
.Header .btn-group {
  margin: 0 auto;
  padding: 20px;
}
